<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../static/layui/css/layui.css" media="all">
    <style>
        .img .upImg {
            width: 160px;
            height: 100px;
            padding: 0px 20px;
            text-align: center;
            overflow: hidden
        }

        .img .upImg img {
            height: 100%;

        }

        #upImg {
            margin-left: 154px;
            margin-top: 5px;
        }

        .frameContent {
            padding: 30px 30px 0px 0px
        }

        .frameBtn {
            text-align: center;
            margin: 20px 0px 0px 30px;
            padding-top: 20px;
            border-top: 1px rgb(204, 204, 204) dashed
        }
    </style>
</head>
<body>
<div>
    <form class="layui-form frameContent" lay-filter="form">
        <input type="hidden" name="userPic" id="userPic" value="../../../static/images/header.png"/>
        <div class="layui-form-item">
            <div class="layui-form-label">
                <div class="layui-upload">
                    <button type="button" style="margin-left: 57px;" class="layui-btn" id="imgUpload">上传头像</button>
                </div>
            </div>
            <div class="layui-input-block" style="margin-left: 203px;">
                <div class="layui-upload-list">
                    <img class="layui-upload-img" id="imgUrl" src="../../../static/images/header.png">
                    <p id="demoText"></p>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">账号</div>
            <div class="layui-input-block">
                <input type="hidden" name="id"/>
                <input type="text" name="userName" required lay-verify="user" placeholder="请输入用户名" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">学号</div>
            <div class="layui-input-block">
                <input type="text" name="userCode" required lay-verify="required" placeholder="请输入学号" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">专业</div>
            <div class="layui-input-inline">
                <select name="majorId" id="userMajor" lay-verify="required">

                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-form-label">简介</div>
            <div class="layui-input-block">
                <input type="text" name="userMark" required lay-verify="required" placeholder="请输入简介" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="frameBtn">
            <button class="layui-btn" lay-submit lay-filter="submit">修改保存</button>
        </div>
    </form>
</div>
</body>
<script src="../../../static/layui/layui.js" charset="utf-8"></script>
<script>

    var majorId = '${session.userInfo.majorId}';

    layui.use(['form', 'laydate', 'upload'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var upload = layui.upload;
        var uploadInst = upload.render({
            elem: '#imgUpload'
            ,url: '/user/uploadImg'
            ,auto: true        /*true为选中图片直接提交，false为不提交根据bindAction属性上的id提交*/
            //,bindAction: '#formSubmit'   /*绑定按钮触发上传*/
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#imgUrl').attr('src', result); //图片链接（base64）
                });
                return false;
            }
            ,done: function(res){
                document.getElementById("userPic").value = res.message;
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });


        form.verify({
            user: function (value, item) { //value：表单的值、item：表单的DOM对象
                if (/[\u4E00-\u9FA5]/g.test(value)) {
                    return '账号不能是汉字';
                }
                if (!(/^[\S]{5,16}$/).test(value)) {
                    return '账号必须5到16位，且不能出现空格'
                }
                if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                    return '用户名不能有特殊字符';
                }
                if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                    return '用户名首尾不能出现下划线\'_\'';
                }
                if (/^\d+\d+\d$/.test(value)) {
                    return '用户名不能全为数字';
                }
            }
        });

        //获取专业列表
        $.ajax({
            url:'/major/listAll',
            type:'get',
            dataType:"json",
            success:function(data){
                var html = '<option value="" selected>请选择专业</option>';
                if(data.code===0){
                    $.each(data.data,function(index,value){
                        html += '<option value="'+value.majorId+'">'+value.majorName+'</option>';
                        //alert(html);
                    });
                    //alert(html);
                    $('#userMajor').html(html);
                    if (majorId != null){
                        $("#userMajor").val(majorId);
                        $('#userMajor').attr("disabled","disabled")
                    }
                    form.render('select');
                } else {
                    layer.alert('抱歉，系统繁忙，请稍后再试！',{icon:2});
                }
            },
        });

        //获取个人信息
        $.ajax({
            url: '/user/queryUser',
            type: 'get',
            data: '',
            dataType: "json",
            beforeSend: function () {
                //console.log(JSON.stringify(data.field));
            },
            success: function (data) {
                //do something
                if (data.code == 0) {
                    //表单初始赋值
                    form.val('form', {
                        "id": data.data.id
                        , "userName": data.data.userName
                        , "userCode": data.data.userCode
                        , "userMajor": data.data.userMajor
                        , "userMark": data.data.userMark
                    });
                    $("#imgUrl").attr('src',data.data.userPic);
                    form.render();
                } else {
                    layer.alert('抱歉，系统繁忙，请稍后再试！', {icon: 2});
                }
            },
            error: function (data) {
                //do something
                layer.msg('与服务器连接失败', {icon: 2});
            }
        });
        //监听提交
        form.on('submit(submit)', function (data) {
            layer.confirm('是否确定保存修改？', {icon: 3, title: '系统信息'}, function (index) {
                $.ajax({
                    url: '/user/updateUser',
                    type: 'post',
                    data:JSON.stringify(data.field),
                    contentType:"application/json",
                    dataType: "json",
                    beforeSend: function () {
                        //console.log(JSON.stringify(data.field));
                    },
                    success: function (data) {
                        //do something
                        if (data.code == 0) {
                            var index = parent.layer.getFrameIndex(window.name);//获取当前窗口索引
                            parent.layer.msg('修改成功', {icon: 1});
                            parent.layer.close(index);
                        } else {
                            layer.alert(data.message, {icon: 2});
                        }
                    },
                    error: function (data) {
                        //do something
                        layer.msg('与服务器连接失败', {icon: 2});
                    }
                });
            });
            return false;
        });
    });
</script>
</html>